In [2]:
friends=["prateek","pranshu","aman","harsh"]
for friend in friends:
    print("hi "+friend)

hi prateek
hi pranshu
hi aman
hi harsh

In [3]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [9]:
a = lambda x: x*2
for i in range(1,6):
    print(a(i))

2
4
6
8
10

In [10]:
print((1+5**(1/2))/2)

1.618033988749895

In [15]:
base = 3
height = 5
area = (base*height)/2
print("the area of triangle is "+str(area))

the area of triangle is 7.5

In [6]:
def lucky_number(name):
    number = len(name)*9
    print("Hii "+name+" your lucky number is "+str(number))
    
lucky_number("akhil")
lucky_number("jazz")

Hii akhil your lucky number is 45
Hii jazz your lucky number is 36

In [10]:
def month_days(month,day):
    print(month +" has "+str(day)+" days.")
    
month_days("june",30)
month_days("july",31)

june has 30 days.
july has 31 days.

In [4]:
name="MY name is akhil "
name*3

'MY name is akhil MY name is akhil MY name is akhil '

In [5]:
name[::2]

'M aei ki '

In [7]:
print("hello there!\n i am akhil")

hello there!
 i am akhil

In [8]:
print("hello there! \\ my name is..")

hello there! \ my name is..

In [11]:
print(r"hello i am \akhil")

hello i am \akhil

In [14]:
a = "i am lower string"
A = a.upper()
upper=A
A

'I AM LOWER STRING'

In [15]:
x = 'This is a cat'
y=x.replace('cat','dog')

In [16]:
y

'This is a dog'

In [17]:
y.find('og')

11

In [1]:
tuple1 = ("jack","34","5.11")
tuple2 = ("parkson street",'23')
tuple3 = tuple1 +  tuple2

In [2]:
tuple3

('jack', '34', '5.11', 'parkson street', '23')

In [6]:
tuple3=tuple3+("studies at mit",100)
tuple3

('jack', '34', '5.11', 'parkson street', '23', 'studies at mit', 100)

In [7]:
#TUPLES ARE IMMUTABLE
marks = (10,41,32,54,63,85)
marks[4]=27
marks

TypeError: 'tuple' object does not support item assignment

In [8]:
marks

(10, 41, 32, 54, 63, 85)

In [9]:
sorted_marks = sorted(marks)

In [10]:
sorted_marks

[10, 32, 41, 54, 63, 85]

In [11]:
#Nesting of tuples
NT = (10,'akhil',('yadav',20),'pyhton',5)

In [13]:
NT[2][1]

20

In [14]:
NT[2][0][1]

'a'

In [59]:
#LISTS
#MUTABLE
#ORDERED
l = ['akhil',22,2000,'SVVV']
l[1:2]

[22]

In [60]:
l = l +['google',20000000]

In [61]:
l

['akhil', 22, 2000, 'SVVV', 'google', 20000000]

In [62]:
l[5]=2500000

l

TypeError: 'NoneType' object does not support item deletion

In [64]:
l = l.append(["2027"])

In [85]:
x = ['jack',20,'mark_son',25]

In [86]:
del(x[2])

In [87]:
x

['jack', 20, 25]

In [88]:
x.append("lauren_son")

In [89]:
x

['jack', 20, 25, 'lauren_son']

In [90]:
x.extend(['gary',54])

In [91]:
x

['jack', 20, 25, 'lauren_son', 'gary', 54]

In [93]:
#split function
"A,B,C,D".split(",")

['A', 'B', 'C', 'D']

In [94]:
#list Aliasing
fruit=["banana",30,"per kg"]
vegetable=fruit
vegetable[0]="tomato"
fruit

['tomato', 30, 'per kg']

In [95]:
#list cloning
vegetable = fruit[:]

In [96]:
vegetable

['tomato', 30, 'per kg']

In [98]:
vegetable[1]=45

In [99]:
fruit

['tomato', 30, 'per kg']

In [100]:
vegetable

['tomato', 45, 'per kg']

In [101]:
help(fruit)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [4]:
class circle(object):
    def ___init__(self,radius,color):
        self.radius = radius
        self.color = color

In [9]:
c1 = circle(10,"green")

TypeError: circle() takes no arguments

In [1]:
"doesn't"

"doesn't"

In [10]:
'doesn\'t'

"doesn't"

In [13]:
a,b = 0,1
while a<10:
    print(a)
    a,b=b,a+b

0
1
1
2
3
5
8

In [1]:
import numpy as np

In [7]:
x= np.array([[1,2],[3,4]])
y= np.array([[5,6],[7,8]])
#z = np.dot(x,y)
c=x@y
c

array([[19, 22],
       [43, 50]])

In [8]:
c.shape

(2, 2)

In [9]:
c.reshape(-1,1)
#converting into single column
#(1,-1) to convert into single row

array([[19],
       [22],
       [43],
       [50]])

In [8]:
 a= 110 * 45.2464
print(a)
round(a,2)

4977.104

4977.1

In [10]:
'doesn\'t'

"doesn't"

In [11]:
"doesn't"

"doesn't"

In [12]:
"the sum of 1+2 is {0}".format(1+2)

'the sum of 1+2 is 3'

In [15]:
str.capitalize("akhil")

'Akhil'

In [16]:
str.upper("yadav")

'YADAV'

In [17]:
str.lower("AKHIL YADAV")

'akhil yadav'

In [18]:
'   Akhil   '.lstrip()

'Akhil   '

In [21]:
name = "malayalam"
print(name.count('l'))

2

In [23]:
name.find('a')

1

In [1]:
d={'person':2 , 'cat':4 , 'octopus':8}
for animal,legs in d.items():
    print('A {} has {} legs'.format(animal,legs))

A person has 2 legs
A cat has 4 legs
A octopus has 8 legs

In [4]:
nums=[1,2,3,4,5]
nums_square=[x**2 for x in nums if x%2==0]
print(nums_square)
ns={x:x**2 for x in nums}
print(ns)

[4, 16]
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}